.bg-footer {
  background-image: url("../img/footer/bg-foot.png");
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 90px;

  .name {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .f-line {
    color: #dadada;
    line-height: 24px;
    margin-bottom: 15px;
    max-width: 370px;
  }
}

.copyright {
  span {
    color: #ec2027;
  }
  background: #2a2a2a;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
}
