.gt_float_switcher {
  .gt-selected {
    .gt-current-lang {
      span.gt_float_switcher-arrow {
        transform: rotate(0deg);
      }
    }
  }
}

.header-logo-language {
  .gtranslate_wrapper {
    height: 100px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: none !important;
  }
}
