.gt_float_switcher {
  .gt-selected {
    .gt-current-lang {
      span.gt_float_switcher-arrow {
        transform: rotate(0deg);
      }
    }
  }
}

.header-logo-language {
  .gtranslate_wrapper {
    height: 100px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: none !important;
  }
}

.icon-search-header {
  position: absolute;
  right: 180px;
  cursor: pointer;
  z-index: 100;

  @media (max-width: 992px) {
    right: 180px;
  }
}

.gt-selected {
  .gt-current-lang {
    img {
      width: 24px;
    }

    span {
      font-size: 15px;
    }
  }
}

.gt_options {
  img {
    width: 24px;
  }

  a {
    font-size: 15px;
  }
}

#gt_float_wrapper {
  .gt_float_switcher {
    max-width: 96px;
  }
}

.gt-current-lang {
  display: flex;

  .gt_float_switcher-arrow {
    margin-left: 2px;
  }
}

.none-form-search-header {
  display: none;
}

.block-search {
  position: absolute;
  background: #fff;
  padding: 15px 20px;
  width: 300px;
  right: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 5px 0 rgb(102 102 102 / 40%);
  box-shadow: 0 0 5px 0 rgb(102 102 102 / 40%);
  margin-top: 50px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .header-container-logo {
    .header-logo{
      margin-right: 0;
    }
  }

  .header-container-logo img {
    max-height: 40px;
  }
}

@media (max-width: 768px) {
  .header-container-logo {
    .container {
      .row {
        padding-right: 0;
      }
      padding: 0;
      margin: 0;
    }
  }
}

.icon-menu-bar-tablet {
  display: none;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }

  .header-container-info {
    display: none;
  }

  .hide-on-tablet {
    display: none;
  }

  .hide-on-desktop {
    display: block;
  }

  .icon-menu-bar-tablet {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }

  .wrapper {
    .header {
      .container {
        display: none;
      }
    }
  }

  .header-menu-sidebar-bg {
    background-color: #434343;
  }

  .header {
    .nv-nav-wrap {
      .nav-menu-primary {
        .sub-menu {
          background-color: #4b4b4b;
        }
      }
    }
  }

  .header-container-logo {
    .gt_float_switcher {
      img {
        width: 20px;
      }
    }

    .gt-current-lang {
      padding: 8px 8px !important;

      img {
        max-height: 20px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .header-menu-sidebar-inner {
    .builder-item {
      .nav-menu-primary {
        li {
          border-bottom: 1px solid #949494;
        }
      }
    }
  }

  .info-mobile {
    display: block !important;
    padding-left: 18px;
    color: #a8a8a8;
    span {
      padding-left: 10px;
    }
  }

  .builder-item {
    .item--inner {
      .nv-nav-wrap {
        .wrap {
          a {
            color: #fff !important;
          }
        }
      }
    }
  }
}

.info-mobile {
  display: none;
}

.is-menu-sidebar.menu_sidebar_slide_left .header-menu-sidebar {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
  right: 0 !important;
  left: unset !important;
}

.menu_sidebar_slide_left {
  .header-menu-sidebar {
    transform: translateX(100%) !important;
    right: 0 !important;
    left: unset !important;
  }
}

.header-menu-sidebar {
  .navbar-toggle-wrapper {
    justify-content: start;
    padding: 0;
  }
}

.header-menu-sidebar {
  .navbar-toggle-wrapper {
    button.navbar-toggle {
      right: 47px;
      background-color: #505050;
      top: -1px;
      color: #fff;
      border: 1px solid #505050;
    }
  }
}

.sticky-active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  right: 0;
}

.language {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.language ul {
  position: absolute;
  background: #fff;
  overflow: hidden;
  right: 1px;
  z-index: 1;
  margin-top: 37px;
  display: block;
  width: 42px;
  left: -5px;
  border-radius: 40px;
  font-size: 0;
  color: transparent;
  -webkit-box-shadow: 0 0 15px 0 rgb(236 32 39 / 30%);
  box-shadow: 0 0 15px 0 rgb(236 32 39 / 30%);
}

.language .label:after {
  margin-left: 8px;
}

.container-search-language {
  position: relative;
  height: 100px;
}

@media (max-width: 500px) {
  #header-menu-sidebar {
    width: 250px;
  }
}

.language .label {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  text-transform: uppercase;
  color: #6d8199;
  min-width: 60px;
  text-align: left;
}

.language ul li {
  display: block;
  padding: 5px 5px;
  border-bottom: solid 1px #f1f1f1;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  outline: none;
  text-decoration: none;
  color: inherit;

  &:hover {
    background: #6d8199;
  }
}

.language img {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  max-width: 100%;
  object-fit: cover;
}

.language ul {
  li:hover {
    background-color: #ccc;
  }
}


.language-color {
  color: #6b6bd5;
}

.language-arrow-down {
  font-size: 10px;
}

#block-form {
  z-index: 9999999;
}

.header-language {
  position: absolute;
  right: 50px;
  bottom: 0;
  top: 30px;
}
