.gt_float_switcher {
  .gt-selected {
    .gt-current-lang {
      span.gt_float_switcher-arrow {
        transform: rotate(0deg);
      }
    }
  }
}

.header-logo-language {
  .gtranslate_wrapper {
    height: 100px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: none !important;
  }
}

.icon-search-header {
  cursor: pointer;
}

.none-form-search-header {
  display: none;
}

.block-search {
  position: absolute;
  background: #fff;
  padding: 15px 20px;
  width: 300px;
  right: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 5px 0 rgb(102 102 102 / 40%);
  box-shadow: 0 0 5px 0 rgb(102 102 102 / 40%);
  margin-top: 50px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .header-container-logo {
    .header-logo{
      margin-right: 0;
    }
  }

  .header-container-logo img {
    max-height: 40px;
  }
}

@media (max-width: 768px) {
  .header-container-logo {
    .container {
      .row {
        padding-right: 0;
      }
      padding: 0;
      margin: 0;
    }
  }
}

