.header-info {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.header-container-info {
  background: #f6f9ff;
  padding: 10px 0;
}

.header-info-text {
  color: #6d8199;
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
  line-height: 20px;
  font-size: 14px
}

.header-background {
  object-fit: cover;
  width: 100%
}

.d-flex {
  display: flex;
}

.header-container-logo {
  padding: 10px 0;
}

.header-logo-language {
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 75px;
}

.header-main-inner {
  background: #2a5baa;
  color: #fff;
}

.header .nv-nav-wrap .nav-menu-primary {
  //li {
  //  display: inline-block;
  //  vertical-align: middle;
  //  font-size: 14px;
  //  margin-right: 73px;
  //}

  .sub-menu {
    background: #2a5baa;
  }

  a {
    transition: all 0.2s ease-in-out;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 0 !important;
    font-size: 14px;
  }

  .current-menu-item {
    a {
      transition: all 0.2s ease-in-out;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 20px;
      padding: 8px 0 !important;
      color: #000 !important;
      font-size: 14px;
    }
  }

  a:hover {
    color: #000;
  }

  .caret {
    color: #fff;
    font-size: 20px;
  }
}

.page-home {
  h2 {
    text-transform: uppercase;
    color: #2a5baa;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 22px;
  }
  .section-information {
    display: flex;

    .content-left {
      width: 55%;

      span {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        font-style: italic;
      }

      .btn-show-more {
        background: #2a5baa;
        color: #fff;
        border-radius: 50px;
        width: 180px;
        height: 46px;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
        margin-top: 30px;

        &:hover {
          background: #ec2027;
        }
      }
    }

    .content-right {
      margin-top: 50px;
      margin-left: -15px;
      text-align: center;
      position: relative;
      .caption {
        width: 170px;
        height: 170px;
        background-image: url("../img/home/ab-img-bg.png");
        background-size: cover;
        position: absolute;
        right: -34px;
        max-width: 40%;
        border-radius: 5px;
        overflow: hidden;
        color: #fff;
        text-align: center;
        bottom: 73px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .num {
          font-weight: 500;
          font-size: 44px;
          line-height: 1.45;
        }
      }
    }
  }

  .cnv-services {

  }
}
