.header-info {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.header-container-info {
  background: #f6f9ff;
  padding: 10px 0;
}

.header-info-text {
  color: #6d8199;
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
  line-height: 20px;
  font-size: 14px
}

.header-background {
  object-fit: cover;
  width: 100%
}

.header-container-logo {
  padding: 10px 0;

  @media (max-width: 992px) {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  .col-md-8 {
    a:hover {
      text-decoration: none;
    }

    .header-logo {
      display: inline-block;
      vertical-align: middle;

      @media (min-width: 992px) {
        margin-right: 75px;
      }
    }
  }
}

.header-logo-language {
  align-items: center;
  justify-content: space-between;
}


.header-main-inner {
  background: #2a5baa;
  color: #fff;
}

.grecaptcha-badge {
  display: none;
}

#site-footer {
  display: none;
}

.page-template-template-page-contact {
  .grecaptcha-badge {
    display: block;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 999;
  text-align: center;
  right: 15px;
  bottom: 15px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  background: #eb5254;
  color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.5);
  box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.5);

  &:hover {
    box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.8);
  }
}

.banner {
  min-height: 708px;

  h2 {
    font-size: 55px;
    color: #fff;

    @media (max-width: 992px) {
      font-size: 30px;
    }
  }

  span {
    font-size: 30px;
    color: #fff;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }
}

.header .nv-nav-wrap .nav-menu-primary {

  ul {
    margin-bottom: 0;

    li#menu-item-31:first-child {
      .wrap {
        padding-left: 0;
      }
    }
  }

  a:hover {
    text-decoration: none;
  }

  .wrap {
    margin-right: 25px;
  }

  .sub-menu {
    li {
      .wrap {
        padding: 6px 10px;
      }

      min-width: 100px;
    }

    background: #2a5baa;
  }

  a {
    transition: all 0.2s ease-in-out;
    color: #fff !important;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 0 !important;
    font-size: 14px;
  }

  .current-menu-item {
    a {
      transition: all 0.2s ease-in-out;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 20px;
      padding: 8px 0 !important;
      color: #000 !important;
      font-size: 14px;
    }
  }

  a:hover {
    color: #000 !important;
  }

  .caret {
    color: #fff;
    font-size: 20px;
  }
}

.page-home {
  h2 {
    text-transform: uppercase;
    color: #2a5baa;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 22px;

    @media (max-width: 768px) {
      font-size: 25px;
      margin-bottom: 12px;
    }
  }

  .desc {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-style: italic;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .btn-show-more {
    background: #2a5baa;
    color: #fff;
    border-radius: 50px;
    width: 180px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    margin-top: 30px;

    &:hover {
      background: #ec2027;
      text-decoration: none;
    }
  }

  .section-information {
    margin-top: 45px;

    .content-left {
      width: 55%;

      .s-content {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        font-style: italic;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    .content-right {
      margin-top: 50px;
      margin-left: -15px;
      text-align: center;
      position: relative;

      .caption {
        width: 170px;
        height: 170px;
        background-image: url("../img/home/ab-img-bg.png");
        background-size: cover;
        position: absolute;
        right: -34px;
        max-width: 40%;
        border-radius: 5px;
        overflow: hidden;
        color: #fff;
        text-align: center;
        bottom: 73px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .num {
          font-weight: 500;
          font-size: 44px;
          line-height: 1.45;
        }
      }
    }
  }

  .section-services {
    background-color: #f8f9fb;
    background-image: url("../img/home/bg-dot1.png");
    background-position: left 117px bottom 48px;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 50px;

    .head {
      text-align: center;
    }
  }

  .section-statistic {
    background-image: url("../img/home/st-bg.png");
    padding-top: 46px;
    padding-bottom: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .st-col {
      @media (max-width: 767px) {
        padding: 0 5px !important;
      }
      &:last-of-type:after {
        display: none !important;
      }

      &:after {
        content: '';
        width: 1px;
        height: 100px;
        top: 50%;
        margin-top: -62px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        right: -10px;

        @media (max-width: 991px) {
          display: none;
        }
      }

      .statis {
        color: #fff;
        margin-bottom: 30px;
        padding-left: 25px;

        .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
        }

        .num {
          display: inline-block;
          vertical-align: middle;
          font-size: 44px;
          font-weight: 700;

          @media (max-width: 767px) {
            font-size: 32px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 700;
          margin-top: 7px;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-project {
    padding-bottom: 50px;
    background-image: url("../img/home/bg-dot2.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #f8f9fb;
    padding-top: 1px;

    .container.v2 {
      max-width: 1512px;
    }

    .head {
      margin-top: 40px;
      margin-bottom: 38px;
    }

    .project {
      height: 450px;
      position: relative;
      margin-bottom: 30px;
      cursor: pointer;

      a.img {
        display: flex !important;
        justify-content: center;
        height: 100%;

        img {
          display: block;
          width: 100%;
        }
      }

      .i-title {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px 10px 15px 30px;
        background: rgba(0, 0, 0, 0.6);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin-bottom: 0;

        i {
          color: #ec2027;
          margin-right: 5px;
        }
      }

      .caption {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 15px 10px 15px 30px;
        color: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;

        .title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 12px;

          i {
            color: #ec2027;
            margin-right: 5px;
          }
        }

        p.excerpt {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 11px;

          a {
            display: none;
          }
        }

        .more {
          color: #ec2027;
          text-decoration: none;

          i.arrow_right {
            font-size: 18px;
            margin-left: 6px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
          }
        }
      }

      &:hover {
        .caption {
          opacity: 1;
        }

        .i-title {
          opacity: 0;
        }
      }
    }

    .btn-show-more {
      display: block;
      margin: 0 auto;
    }
  }

  .section-scope {
    background-color: #f8f9fb;
    padding-top: 1px;
    padding-bottom: 50px;
    background-image: url("../img/home/bg-dot1.png");
    background-position: right 115px bottom 100px;
    background-repeat: no-repeat;

    .head {
      position: relative;
      padding-right: 180px;

      a.smooth {
        background: #fff;
        border-radius: 50px;
        color: #ec2027;
        font-size: 16px;
        font-weight: 700;
        line-height: 45px;
        height: 45px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 57px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -23px;
        text-decoration: none;

        &:hover {
          background: #ec2027;
          color: #fff;
        }
      }
    }

    .slick-slide-product {
      .slick-arrow.slick-prev {
        left: -110px;
      }

      .slick-arrow.slick-next {
        right: -80px;
      }

      .slick-arrow {
        width: 60px;
        height: 60px;
        background: #fff;
        font-size: 22px;
        text-align: center;
        line-height: 60px;
        color: #6d8199;
        top: 50%;
        margin-top: -58px;

        &:hover {
          background: #ec2027;
          color: #fff;
        }
      }

      .slick-slide {
        margin: 0 15px;

        .scope {
          background: #fff;
          padding: 15px 15px 33px 15px;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          margin-bottom: 10px;
          margin-top: 10px;

          &:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

            .img {
              background-color: #000;

              img {
                opacity: 0.5;
              }

              &:before {
                opacity: 1;
              }

              &:after {
                opacity: 1;
              }
            }

            .title {
              a {
                color: #ec2027;
              }
            }
          }

          .img {
            display: block;
            background: #000;
            position: relative;
            margin-bottom: 17px;
            min-height: 305px;

            img {
              display: block;
              width: 100%;
              -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
              height: 305px;
              max-height: 100%;
              object-fit: cover;
            }

            &:before, &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              background: #fff;
              -webkit-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
              opacity: 0;
            }

            &:before {
              height: 1px;
              width: 50px;
              margin-left: -25px;
            }

            &:after {
              height: 60px;
              width: 1px;
              margin-top: -30px;
            }
          }

          p {
            font-size: 16px;
            margin-bottom: 10px;
            padding-left: 10px;
          }

          .title {
            a {
              text-decoration: none;
              font-size: 20px;
              margin-bottom: 10px;
              padding-left: 10px;
              color: #000;
              font-weight: 700;

              @media (max-width: 767px) {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }

      .slick-dots {
        margin-top: 34px;
        text-align: center;

        li {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #6d8199;
          margin: 0 11px;
          border: none;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;

          button {
            display: none;
          }
        }

        li.slick-active {
          background: #ec2027;
          -webkit-transform: scale(1.6);
          transform: scale(1.6);
        }
      }
    }
  }

  .section-milestone {
    padding: 40px 0;

    @media (max-width: 767px) {
      padding: 20px 0;
    }
    .head {
      margin-bottom: 80px;
    }

    .mile-cas {
      button.slick-arrow {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        top: 34px;
        height: 3px;
        background: #2a5baa;
        left: 6px;
        right: 6px;
        z-index: -1;
      }

      .slick-list {
        &:before {
          left: 5px;
          background: linear-gradient(to right, #fff, #2a5baa);
        }

        &:after {
          right: 5px;
          background: linear-gradient(to right, #2a5baa, #fff);
        }

        &:before, &:after {
          content: '';
          height: 3px;
          top: 34px;
          position: absolute;
          width: 80px;
          pointer-events: none;
        }
      }

      .item {
        text-align: center;
        margin-top: 10px;

        &:hover {
          .num {
            color: #fff;

            &:after {
              opacity: 1;
            }
          }
        }

        .num {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: solid 3px #2a5baa;
          color: #2a5baa;
          text-align: center;
          font-size: 22px;
          line-height: 45px;
          display: block;
          margin: 0 auto 0 auto;
          position: relative;
          z-index: 1;
          margin-bottom: 34px;
          background: #fff;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

          &:after {
            content: '';
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            border-radius: inherit;
            background: #2a5baa;
            -webkit-transition: inherit;
            -o-transition: inherit;
            transition: inherit;
            opacity: 0;
            z-index: -1;
            -webkit-box-shadow: 0 0 0 5px rgba(42, 91, 170, 0.5);
            box-shadow: 0 0 0 5px rgba(42, 91, 170, 0.5);
          }
        }

        .date {
          font-size: 18px;
          color: #666666;
          font-style: italic;
          margin-bottom: 4px;
        }

        p {
          font-size: 18px;
          font-weight: 700;
          color: #2a5baa;
          line-height: 24px;
        }
      }
    }
  }

  .section-article {
    background-color: #f8f9fb;
    padding: 35px 0;
    background-image: url("../img/home/bg-dot1.png");
    background-position: left 115px bottom 15px;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      padding: 20px 0;
    }
    .article-cas {
      .slick-arrow.slick-prev {
        left: -110px;
      }

      .slick-arrow.slick-next {
        right: -80px;
      }

      .slick-arrow {
        width: 60px;
        height: 60px;
        background: #fff;
        font-size: 22px;
        text-align: center;
        line-height: 60px;
        color: #6d8199;
        top: 50%;
        margin-top: -58px;

        &:hover {
          background: #ec2027;
          color: #fff;
        }
      }

      .article {
        background: #fff;
        padding: 15px 15px 33px 15px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 10px 15px;

        @media (max-width: 767px) {
          padding: 10px 10px 20px 10px;
        }

        &:hover {
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

          .img {
            background-color: #000;

            img {
              opacity: 0.5;
            }

            &:before {
              opacity: 1;
            }

            &:after {
              opacity: 1;
            }
          }

          .title {
            a {
              color: #ec2027;
            }
          }
        }

        .img {
          display: block;
          background: #000;
          position: relative;
          margin-bottom: 17px;
          min-height: 305px;

          img {
            display: block;
            width: 100%;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            height: 305px;
            object-fit: cover;
            max-height: 100%;
          }

          &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: #fff;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            opacity: 0;
          }

          &:before {
            height: 1px;
            width: 50px;
            margin-left: -25px;
          }

          &:after {
            height: 60px;
            width: 1px;
            margin-top: -30px;
          }
        }

        p {
          font-size: 16px;
          margin-bottom: 10px;
          padding-left: 10px;

          @media (max-width: 767px) {
              font-size: 14px;
            }
          }

        .title {
          a {
            text-decoration: none;
            font-size: 20px;
            margin-bottom: 10px;
            padding-left: 10px;
            color: #000;
            font-weight: 700;

            @media (max-width: 767px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

      .slick-dots {
        margin-top: 34px;
        text-align: center;

        li {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #6d8199;
          margin: 0 11px;
          border: none;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;

          button {
            display: none;
          }
        }

        li.slick-active {
          background: #ec2027;
          -webkit-transform: scale(1.6);
          transform: scale(1.6);
        }
      }
    }
  }

  .section-partner {
    padding: 100px 0;

    .partner-cas {
      .slick-slide {
        margin: 0 10px;

        a.partner {
          display: block;
          height: 100px;
          border-radius: 10px;
          border: solid 1px #dadfe5;
          position: relative;

          &:hover {
            border-color: #ec2027;
          }

          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            margin: auto;
          }
        }
      }

      button.slick-arrow {
        display: none;
      }
    }
  }
}

.reveal {
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
