.single-post-container {
  .breadcrumbs {
    li.post-type {
      &:after {
        content: ">";
        margin-left: 8px;
        margin-right: 2px;
      }
    }
  }

  .single {
    padding: 60px 0;

    .s-title {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 30px;
      color: #2A5BAA;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        font-size: 24px;
      }

      &:after {
        content: '';
        display: block;
        height: 2px;
        background: #2A5BAA;
        width: 75px;
        margin-top: 9px;
      }
    }

    time {
      color: #555555;
      font-size: 12px;
      font-style: italic;
      display: block;
      margin-bottom: 12px;

      i {
        margin-right: 3px;
      }
    }

    .s-content {
      color: #555555;
      margin: 0 auto;
    }

    .s-social {
      margin-top: 29px;

      .ctrl {
        display: inline-block;
        vertical-align: middle;

        li {
          i {
            color: #555555;
          }
        }
      }
    }

    .bor-box {
      border-left: solid 1px #e2e2e2;
      position: relative;
      padding-left: 27px;
      padding-top: 2px;

      &:before {
        content: '';
        position: absolute;
        left: -1px;
        width: 3px;
        background: #2A5BAA;
        height: 50px;
      }

      @media (max-width: 767px) {
        padding-left: 15px;
      }

      .i-title {
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 20px;

        &:after {
          content: '';
          display: block;
          height: 1px;
          width: 50px;
          margin-top: 10px;
          background: #2A5BAA;
        }
      }

      ul {
        li {
          a {
            position: relative;
            padding-left: 19px;
            font-size: 16px;
            color: #555555;
            display: inline-block;
            vertical-align: middle;

            &:hover {
              color: #2A5BAA;
              text-decoration: underline;

              &:before {
                border-color: #2A5BAA;
              }

              &:after {
                background: #2A5BAA;
              }
            }

            &:after {
              content: '';
              position: absolute;
              width: 4px;
              height: 4px;
              top: 10px;
              left: 4px;
              border-radius: 50%;
            }

            &:before {
              content: '';
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: solid 2px #555555;
              position: absolute;
              left: 0;
              top: 6px;
            }
          }
        }
      }
    }
  }
}